* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.container-principal {
    background-color: #ffffff;
    border: 3px solid #000000;
    box-shadow: 6px 6px 0 #000000;
    border-radius: 70px;
    padding: 50px 70px;
    text-align: center;
    min-height: 80vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1, h2 {
    font-size: 30px;
    color: #000000;
    margin-bottom: 10px;
    text-shadow: 1px 1px 0 #707da8;
    text-align: center;
}

p {
    font-size: 18px;
    color: #000000;
    margin-bottom: 30px;
}

button,
#botao,
.botao-pedido,
.btn-voltar {
    background-color: #707da8; 
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px; 
    font-weight: 900; 
    text-align: center;
    padding: 15px 35px;
    border: 2px solid #000000;
    box-shadow: 3px 3px 0 #000000; 
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    border-radius: 12px; 
}

#saida {
  background-color: #000000;
  color: #707da8;
  font-family: 'Courier New', monospace;
  font-size: 16px;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid #707da8;
  width: 80%;
  max-width: 600px;
  min-height: 180px;
  margin-top: 20px;
  box-shadow: 0 0 10px #707da8;
  text-align: left;
  overflow-y: auto;
  white-space: pre-wrap;
}

button:hover,
#botao:hover,
.botao-pedido:hover,
.btn-voltar:hover {
    transform: translate(3px, 3px); 
    box-shadow: 0 0 0 #000000;
}

.container-botoes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

input {
    width: 80%;
    max-width: 800px;
    display: block;
    margin: 15px auto;
    padding: 12px 15px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #000000;
    border-radius: 8px;
    outline: none;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

input::placeholder {
    color: #777;
    font-style: italic;
}

input:focus {
    border-color: #707da8;
    box-shadow: 0 0 5px #707da8;
}

.visible {
    display: flex !important;
}

.fundo-escuro {
    height: 100vh;
    width: 100vw;
    background-color: rgba(255,255,255,0.98);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
}

.flutuante {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    border-radius: 15px;
    width: 320px;
    border: 3px solid #000000;
    box-shadow: 5px 5px 0 #000000;
}

.topo {
    width: 100%;
    display: flex;
    justify-content: end;
}

.topo i {
    color: black;
    cursor: pointer;
    opacity: 0.8;
    font-size: 20px;
}

.topo i:hover {
    opacity: 1;
    transition: all 0.2s ease;
}

.circulo {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #707da8;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000000;
    margin-bottom: 10px;
}

.circulo i { 
    color: #000000;
    font-size: 22px;
}

.titulo {
    font-size: 22px;
    margin-top: 10px;
    text-align: center;
}

.subtitulo {
    opacity: 0.9;
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
}

.barras {
    height: 7px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1px;
    margin-top: 20px;
}

.barra {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border: 0.2px solid #000000;
}

.b1 {
    background-color: #707da8;
}

.previsao {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px;
    margin-top: 20px;
    border-radius: 8px;
    border: 0.2px solid #000000;
}

.texto-previsao {
    font-size: 12px;
    font-weight: 500;
}

.horario-previsao {
    font-size: 12px;
    font-weight: 700;
}

.btn-voltar {
    margin-top: 40px;
    background-color: #707da8;
    border: 2px solid #000000;
    box-shadow: 3px 3px 0 #000000;
}

.btn-voltar:hover {
    background-color: #707da8;
    color: #000000;
    transform: translate(3px, 3px);
}

#mensagem {
    margin-top: 35px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #000000;
}
