* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.visible {
    display: flex !important;
}

.botao-pedido {
    background-color: #707da8; 
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px; 
    font-weight: 900; 
    text-align: center;
    padding: 12px 28px;
    border: 2px solid #000000;
    box-shadow: 3px 3px 0 #000000; 
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    z-index: 1;
    position: absolute;
    left: 42%;
    top: 45%;
}

.botao-pedido:hover {
    transform: translate(3px, 3px); 
    box-shadow: 0 0 0 #000000;
}

.fundo-escuro {
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: absolute;
}

.flutuante {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    max-width: 300px;
    border: 3px solid #000000;
    box-shadow: 4px 4px 0 #000000;
}

.topo {
    width: 100%;
    display: flex;
    justify-content: end;
}

.topo i {
    color: black;
    cursor: pointer;
    opacity: 0.8;
    font-size: 20px;
}

.topo i:hover {
    opacity: 1;
    transition: all 0.2s ease;
}

.circulo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #707da8;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000000;
}

.circulo i { 
    color: #000000;
    font-size: 20px;
}

.titulo {
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}

.subtitulo {
    opacity: 0.9;
    font-size: 14px;
    margin-top: 3px;
    text-align: center;

}

.barras {
    height: 7px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1px;
    margin-top: 20px;
}

.barra {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border: 0.2px solid #000000;
    color: #707da8;
}

.previsao {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px;
    margin-top: 20px;
    border-radius: 3px;
    border: 0.2px solid #000000;
}

.texto-previsao {
    font-size: 12px;
    font-weight: 500;
}

.horario-previsao {
    font-size: 12px;
    font-weight: 700;
}

.b1 {
    background-color: #707da8;
}

.container-principal {
    background-color: #ffffff;
    border: 3px solid #000000;
    box-shadow: 6px 6px 0 #000000;
    border-radius: 20px;
    padding: 50px 70px;
    text-align: center;
}

h1 {
    font-size: 30px;
    color: #000000;
    margin-bottom: 10px;
    text-shadow: 1px 1px 0 #707da8;
}

p {
    font-size: 18px;
    color: #000000;
    margin-bottom: 30px;
}

.container-botoes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.container-botoes button {
    background-color: #707da8; 
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px; 
    font-weight: 900; 
    text-align: center;
    padding: 15px 35px;
    border: 2px solid #000000;
    box-shadow: 3px 3px 0 #000000; 
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    min-width: 180px;
}

.container-botoes button:hover {
    transform: translate(3px, 3px); 
    box-shadow: 0 0 0 #000000;
}

h2 {
    font-size: 28px;
    color: #000;
    text-shadow: 1px 1px 0 #707da8;
    margin-bottom: 15px;
    text-align: center;
}

#status {
    font-size: 18px;
    color: #000;
    margin-bottom: 30px;
}

#botao {
    background-color: #707da8; 
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px; 
    font-weight: 900; 
    text-align: center;
    padding: 15px 35px;
    border: 2px solid #000000;
    box-shadow: 3px 3px 0 #000000; 
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

#botao:hover {
    transform: translate(3px, 3px); 
    box-shadow: 0 0 0 #000000;
}
#host {
    padding: 12px;
    width: 80%;
    border: 2px solid #000000;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    text-align: center;
    margin-bottom: 15px;
}

#pingarBtn {
    background-color: #707da8; 
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px; 
    font-weight: 900; 
    text-align: center;
    padding: 12px 30px;
    border: 2px solid #000000;
    box-shadow: 3px 3px 0 #000000; 
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    margin-top: 10px;
}

#pingarBtn:hover {
    transform: translate(3px, 3px); 
    box-shadow: 0 0 0 #000000;
}

#saida {
    background-color: #000000;
    color: #707da8;
    text-align: left;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #000000;
    margin-top: 25px;
    width: 100%;
    min-height: 150px;
    font-family: monospace;
    white-space: pre-wrap;
}